@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    font-family:'Open Sans',sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header .navbar {
    display: flex;
    align-items: center; /* Changed from 'left' */
    gap: 20px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.sign-up {
    background-color: #fff;
    color:  #4481eb;
    border: 2px solid  #4481eb;
}

.sign-in {
    background-color:  #4481eb;
    color: #fff;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    background: linear-gradient(to right, #4481eb, #4481eb), 
    url('website/images/tracker.png') no-repeat center center; /* Add image on top of blue background */    height:100vh;

}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 48px;
    color: #fff;
    line-height: 1.2;
}

.hero-content h1 span {
    color: #ffcc00;
}

.hero-content p {
    font-size: 18px;
    margin: 20px 0;
    color: #f2f2f2;
}
/* 
.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color:   #ffcc00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
} */
footer {
    color: rgb(0, 0, 0);
    margin-top: auto; 
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #e3eef9;
    font-size: 12px;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  