@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    font-family:'Open Sans',sans-serif;
    background: radial-gradient(circle at 20% 30%, #1c2b4d 10%, #070b1a 50%);
    background-size: cover;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 20px;
    background-color: #d7eaf8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header .navbar {
    display: flex;
    align-items: center; 
    gap: 20px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
}

footer {
    color: rgb(0, 0, 0);
    margin-top: auto; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #d7eaf8;
    font-size: 12px;
  }
  
  .footer-bottom p {
    margin: 0;
  }

  .cv{
    align-items: center;

  }
    .cv img {
    border-radius: 20px; /* Rounded corners */
    width: 90%; /* Adjust the width */
    max-width: 600px; /* Set a maximum width */
    height: auto; /* Keep aspect ratio */
    display: block;
    margin: 0 auto; /* Center the video */
}
  h1{
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    color: #f2f4f6;
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }